<launch>

<rosparam file="$(find inmoov_bringup)/config/config.yaml"/>
<node pkg="rosserial_server" type="socket_node" name="socket_node" respawn="true" />
<!-- <node pkg="inmoov_bringup" type="joint_command_dispatcher.py" name="joint_command_dispatcher" respawn="true"/> -->

<!-- <node pkg="inmoov_bringup" type="joint_status_dispatcher.py" name="joint_status_dispatcher" respawn="true"/> -->

<node pkg="inmoov_bringup" type="motor_status_dispatcher.py" name="motor_status_dispatcher" respawn="true"/>

<node pkg="inmoov_bringup" type="enable_manager.py" name="enable_manager" respawn="true"/>

<node pkg="inmoov_bringup" type="rviz_manager.py" name="rviz_manager" respawn="true"/>
<node pkg="inmoov_bringup" type="head_tracking.py" name="head_tracking" respawn="true" output="screen"/>

<include file="$(find inmoov_description)/launch/display.launch"/>

<node name="trainer" pkg="inmoov_bringup" type="trainer.py" respawn="true" output="screen" />

</launch>
